<ul>
    <li><a [routerLink]="['/home']" routerLinkActive="router-link-active" >What is Carpool?</a></li>
    <li><a href="#news">Contact</a></li>
    <li style="float:right"><a [routerLink]="['/register']" routerLinkActive="router-link-active">Register</a></li>
    <li style="float:right"><a [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a></li>
    <!-- <li style="float:right"><a [routerLink]="['/search']" routerLinkActive="router-link-active">Search</a></li> -->
  </ul>
<!-- look at the routing with home/login, home/register etcc... - https://stackoverflow.com/questions/50935243/angular-routing-replacing-components -->
<router-outlet></router-outlet>
