<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css" />
  <title>Edit Post</title>
</head>

<body>
  <p class="postHeader">Edit My Post</p>
  <div>

    <div class="postScheduleBox">
      <form name="EditPostForm">
        <input type="radio" name="purpose" value="Obtain" checked required>
        Obtain a lift
        <input type="radio" name="purpose" value="Provide">Provide a lift
        <input type="radio" name="purpose" value="Both">Both<br>

        <label for="startingPoint">Starting Point*</label>
        <input type="text" id="startingPoint" name="startingPoint" value="{{post.startingPoint}}"
          placeholder="e.g. North Greenwich" required>

        <label for="destination">Destination*</label>
        <input type="text" id="destination" name="destination" value="{{post.destination}}"
          placeholder="e.g. Cutty Sark" required>

        <label for="date">Date*</label><br>
        <input type="datetime-local" id="date" value="{{post.date}}" name="date" required><br>

        <label for="car">Car type/model</label>
        <input type="text" id="car" name="car" value="{{post.carType}}" placeholder="e.g. Audi">

        <label for="cost">How much are you willing to chip in? (in percentages)</label>
        <input type="text" id="cost" name="cost" value="{{post.costSharing}}" placeholder="e.g. 30% ">

        <label for="details">Extra Details:</label>
        <textarea rows="4" cols="44" name="details">{{post.extraDetails}}</textarea><br />

        <label for="imageFile">Select an image to upload:</label>
        <input type="file" size="40" multiple="multiple" name="imageFile" id="imageFile" /><br><br>

        <input type="submit" name="editButton" value="Confirm Post Edit">
        <br><br>
        <input type="submit" name="deleteButton" value="Delete my post">
      </form>
    </div>
    <!-- <?php   //if edit button is succesfully clicked then send data from textboxes into these variables
            if (isset($_POST['editButton']))
            {   
                $purpose   = $_POST['purpose'];
                $sP   = $_POST['startingPoint'];
                $destination   = $_POST['destination'];
                $date   = $_POST['date'];
                $car   = $_POST['car'];
                $cost   = $_POST['cost'];
                $details   = $_POST['details'];

                //it works but this doesnt allow to update the post when everything is entered correctly for some reason
                //                if ( !empty($car) || !empty ($details) ){
                //
                //                    //validation for letters and space, but combinations with special characters and numbers are allowed and saved in database
                //                    if ( !preg_match("/^[a-zA-Z\s]*$/", $car) ){
                //                        $message = "Check Car type/Model: Special characters and numbers are not allowed, for example; <\!@~#/ 0-9> ";
                //                    }
                //                    //validation for letters and space, but combinations with special characters and numbers are allowed and saved in database
                //                    else if ( !preg_match("/^[a-zA-Z\s]*$/", $details) ){
                //                        $message = "Check Extra Details: Special characters and numbers are not allowed, for example; <\!@~#/ 0-9> ";
                //                    }
                //                }

                //validation adapted from Mahtab resources PHP 3 MySQLi Mailing List and https://stackoverflow.com/questions/12778083/regex-with-space-and-letters-only 

                //validation for letters and space, but combinations with special characters and numbers are allowed and saved in database
                if ( !preg_match("/^[a-zA-Z\s]*$/", $sP) ){
                    $message = "Check Starting Point: Special characters and numbers are not allowed, for example; <\!@~#/ 0-9> ";
                }
                //validation for letters and space, but combinations with special characters and numbers are allowed and saved in database
                else if ( !preg_match("/^[a-zA-Z\s]*$/", $destination) ){
                    $message = "Check Destination: Special characters and numbers are not allowed, for example; <\!@~#/ 0-9> ";
                }

                //image upload and its validation adapted from Mahtab resources PHP 3 Image Uploading
                else{
                    //if no image is uploaded then update the data 
                    if ( empty($_FILES['imageFile']['type']) ) {
                        //update the data 
                        mysqli_query($conn, "UPDATE Post Set Starting_Point = '$sP', Destination = '$destination', Date = '$date', Car = '$car', Cost_Sharing = '$cost', Details = '$details' WHERE Username = '$uN' AND ID = '$postID'");
                        //echo "<script> location.href='http://stuweb.cms.gre.ac.uk/~ai6935u/web_cw/memberposts.php'; </script>";
                        header("Location:memberposts.php");

                        die();
                    }
                    // Validate uploaded image file
                    else if ( !preg_match( '/gif|png|x-png|jpeg/', $_FILES['imageFile']['type']) ) {
                        die('<p>Only browser compatible images allowed</p></body></html>');
                    }//Check for the size of the file 
                    else if ( $_FILES['imageFile']['size'] > 1048576 ) {
                        die('<p>Sorry file too large</p></body></html>');
                    }
                    // Copy image file into a variable
                    else if ( !($handle = fopen ($_FILES['imageFile']['tmp_name'], "r")) ) {
                        die('<p>Error opening temp file</p></body></html>');
                    } else if ( !($image = fread ($handle, filesize($_FILES['imageFile']['tmp_name']))) ) {
                        die('<p>Error reading temp file</p></body></html>');
                    } else {
                        fclose ($handle);
                        // Commit image to the database
                        $image = mysqli_real_escape_string($conn, $image);

                        //insert values into rows
                        //update the data 
                        $sql= 'UPDATE Post Set Starting_Point = "'. $sP .'", Destination = "'. $destination .'", Date = "'. $date .'", Car = "'. $car .'", Cost_Sharing = "'. $cost .'", Details = "'. $details .'", ImageType = "' . $_FILES['imageFile']['type'] . '", ImageName = "' . $_FILES['imageFile']['name']  . '", Image = "' . $image . '"  WHERE ID = "'. $postID . '" ';
                        //if the query didnt work output
                        if ( !(mysqli_query($conn, $sql)) ) {

                            die('<p>Error writing image to database</p></body></html>');
                        } else {
                            //echo "<script> location.href='http://stuweb.cms.gre.ac.uk/~ai6935u/web_cw/memberposts.php'; </script>";
                            header("Location:memberposts.php");

                        }}

                }
            }
            else  if (isset($_POST['deleteButton']))
            {   
                $purpose   = $_POST['purpose'];
                $sP   = $_POST['startingPoint'];
                $destination   = $_POST['destination'];
                $date   = $_POST['date'];
                $car   = $_POST['car'];
                $cost   = $_POST['cost'];
                $details   = $_POST['details'];


                //delete the data, and -----------------have the option to delete only the image---------------------- 
                mysqli_query($conn, "DELETE FROM Post WHERE ID = '$postID'");
                //echo "<script> location.href='http://stuweb.cms.gre.ac.uk/~ai6935u/web_cw/memberposts.php'; </script>";
                header("Location:memberposts.php");

            }

            //close connection
            mysqli_close($conn);

            ?> -->

  </div>
  <div class="redAlertEditPost"><span class="closeButton"
      onclick="this.parentElement.style.display='none';">&times;</span>
  </div>
</body>

</html>
