<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>My posts</title>
</head>

<body>
  <div class="searchBox">
    <form name="searchForm">
      <label for="start">Starting Point</label>
      <input type="text" id="start" name="startingP" placeholder="e.g. Stratford">

      <label for="destination">Destination</label>
      <input type="text" id="destination" name="destination" placeholder="e.g. Mile End">

      <label for="date">Select Date & Time</label>
      <input type="datetime-local" name="date">
      <br>

      <strong>Filter by</strong>
      <div class="filterBox">
        <input type="checkbox" name="excludeMember" value="excludeMember">
        <label for="excludeMember">Exclude members without images</label>

      </div>
      <br>
      <input type="submit" value="Search" name="searchButton" (click)="Search()">
    </form>
  </div>

  <div class="center" *ngIf="isSearchedPosts">
    <!-- Adapted to generate the table from - A Beginner's Guide PHP and MySQL Web Development, pg. 467 - 468  -->
    <table id="table">
      <!-- Display the column headings -->
      <tr>
        <th class="list" width="40">Post#</th>
        <th class="list" width="50">Purpose</th>
        <th class="list" width="150">Starting Point</th>
        <th class="list" width="150">Destination</th>
        <th class="list" width="100">Date</th>
        <th class="list" width="40">&nbsp</th>
      </tr>

      <!-- inserting the data in rows -->
      <tr>
        <!-- <td align="center"><?php echo $row ['ID']; ?></td>
        <td align="center"><?php echo $row ['Purpose']; ?></td>
        <td><?php echo $row ['Starting_Point']; ?></td>
        <td><?php echo $row ['Destination']; ?></td>
        <td align="center"><?php echo $row ['Date']; ?></td> -->
        <!--                    if the user isnt logged in then redirect to login page -->
        <!-- <td><a <?php if (isset($_COOKIE['userName'])) { ?>
            href="http://stuweb.cms.gre.ac.uk/~ai6935u/web_cw/post_more_information.php?id=<?php echo $row ['ID']; ?>"
            <?php } else{ ?>href="http://stuweb.cms.gre.ac.uk/~ai6935u/web_cw/login.php" <?php } ?>>More
            Information>></a></td> -->
      </tr>
    </table>

  </div>
</body>

</html>
