<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>My posts</title>
</head>

<body>
  <div class="searchBox">
    <form name="searchForm">
      <label for="start">Starting Point</label>
      <input type="text" id="start" name="startingP" placeholder="e.g. Stratford">

      <label for="destination">Destination</label>
      <input type="text" id="destination" name="destination" placeholder="e.g. Mile End">

      <label for="date">Select Date & Time</label>
      <input type="datetime-local" name="date">
      <br>

      <strong>Filter by</strong>
      <div class="filterBox">
        <input type="checkbox" name="excludeMember" value="excludeMember">
        <label for="excludeMember">Exclude members without images</label>

      </div>
      <br>
      <input type="submit" value="Search" name="searchButton" (click)="Search()">
    </form>
  </div>

  <div class="center" *ngIf="isSearchedPosts">
    <table id="table">
      <tr>
        <th class="list" width="40">Post#</th>
        <th class="list" width="50">Purpose</th>
        <th class="list" width="150">Starting Point</th>
        <th class="list" width="150">Destination</th>
        <th class="list" width="100">Date</th>
        <th class="list" width="40">&nbsp</th>
      </tr>

      <!-- inserting the data in rows -->
      <tr *ngFor="let post of posts">
        <td>{{post.id}}</td>
        <td>{{post.purpose}}</td>
        <td>{{post.startingPoint}}</td>
        <td>{{post.destination}}</td>
        <td>{{post.date}}</td>
        <!-- More information shows the post with full info of the post if logged in, if not redirect to log in page. -->
        <td>More Information>></td>
      </tr>
    </table>

  </div>
</body>

</html>
