<div class="leftDescription">
    <p> <strong>Carpool Commute</strong>
      <br><br>
      <strong>We are on a mission to</strong>
      improve the urban environment by enabling neighbours to commuter carpool and reduce the
      amount of cars on the roads, thereby reducing traffic congestion and air pollution!
      <br><br>
      <strong>Casual visitors </strong>to the site will be able to search through the posts to see
      if anyone faces a similar commute to theirs.
      <br><br>
      <strong>While any visitor </strong>can search through the various
      posts, full details of other commuters and their journeys will only be available after
      registering to this web site.
    </p>
  </div>